/* Main container */
.container {
  margin: auto;
  width: 80%;
  border: 3px solid #AFCBF1;
  padding: 10px;
  background: rgba(76, 175, 80, 0.1);
}

body {
  background-image: url("images/backgrounds/aqua-gradient.jpg")
}

header {
  text-align: center;
  font-size: 24px;
  background: rgba(230, 144, 101, 0.3);
}

/*
h1 {
  margin-top: 36px;
}
*/
h1.heading-emphasis {
  margin-top: 85px;
  text-align: center;
  background: rgba(230, 144, 101, 0.2);
}

h2.heading-emphasis {
  text-align: center;
  background: rgba(101, 149, 230, 0.2);
}

/*___________________________________________________
Text Colors
___________________________________________________*/
.code-css {
  color: yellow;
}

.code-html {
  color: #ff9d39;
}

.code-keyboard-command {
  color: #d0d0d0;
}

.blue {
  color: blue;
  font-weight: bold;
}

.cyan {
  color: cyan;
}

.green {
  color: green;
  font-weight: bold;
}

.red {
  color: red;
}

.white {
  color: white;
}

.yellow {
  color: yellow;
}

.border-green {
  border: 3px solid green;
}
/*___________________________________________________
Lists
___________________________________________________*/
/*Main <ul> list on navigation pages*/
.main-nav {
  margin: auto;
  width: 40%;
  list-style-type: none;
}

/* Primary list navigation topics
This affects ALL <li> items*/
.main-nav li {
  border: 1px solid #ffa31f;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
}

/* sub-topics <ul> */
.sub-nav {
  list-style-type: none;
}

/* sub-topics <li> */
.sub-nav li{
  border: 1px solid #c85200;
}



/*___________________________________________________
Code Examples
___________________________________________________*/
/* Main container for side by side text and code examples */
.example-container {
  background: rgba(125, 115, 115, 0.15);
  /*border: 1px solid blue;*/
  position: relative;
  /*These two lines allow the .code-container child to
  inherit the height of the parent*/
  display: inline-block;
  width: 100%;
  min-height: 20px;
}

/* Text container for code examples */
.example-text {
  /*border: 1px solid green;*/
  display: inline-block;
  width: 48%;
  padding: 10px 5px 10px 5px;
  float: left;
  }

.codebox {
  /*border: 1px solid white;*/
  width: 48%;
  overflow: auto;
  background: #000;
  padding: 10px 5px 10px 5px;
}

.codebox-fixed-height {
  /*border: 1px solid white;*/
  width: 48%;
  height: 50px;
  overflow: auto;
  background: #000;
  padding: 10px 5px 10px 5px;
}


/*___________________________________________________
Note boxes
___________________________________________________*/

.alert-important, .alert-note, .alert-tip, .alert-warning {
	position: relative;
  padding: 15px;
  border: 1px solid #DCDCDC;
  height: auto;
  min-height: 90px;
  display: table;
  margin: 15px 0 15px 0;
  background-color: rgba(125, 115, 115, 0.15);
}

.alert-content {
  margin-left: 80px;
  line-height: 22px;
  font-size: 95%;
  padding-left: 20px;
  border-left: 1px solid #DCDCDC;
  display: table-cell;
  vertical-align: middle;
}

.alert-content ul, .alert-content ol {
  margin-bottom: 0;
}

.alert-content li {
  padding: 0;
}

.alert-icon {
  display: table-cell;
  width: 8%;
  min-width: 75px;
  vertical-align: middle;
}



/*___________________________________________________
Examples in preformatted boxes
___________________________________________________*/
/* background transparency example */
.image-bg {
  background: url("images/backgrounds/examples/white-bg.jpg");
}

.rgba-transparency {
    background: rgba(199, 21, 133, .25);
}

/* gradient color over image */
.linear-gradient {
  height: 40px;
  background: linear-gradient(red, green);
}

.linear-gradient-3colors {
  height: 40px;
  background: linear-gradient(red, yellow, green);
}

.transparent-linear-gradient {
  height: 40px;
  background: linear-gradient(rgba(255, 0, 0, 0.35),  /*red*/
                             rgba(255, 255, 0, 0.35), /*yellow*/
                             rgba(0, 0, 255, 0.35)),  /*blue*/
url("images/backgrounds/examples/white-bg.jpg");
}

.image-bg-repeat {
  background: url("images/backgrounds/examples/purple-dot.jpg");
}

.image-bg-repeat-x {
  background: url("images/backgrounds/examples/purple-dot.jpg");
  background-repeat: repeat-x;
}

.image-bg-repeat-y {
  background: url("images/backgrounds/examples/purple-dot.jpg");
  background-repeat: repeat-y;
}

.image-bg-no-repeat {
  background: url("images/backgrounds/examples/purple-dot.jpg");
  background-repeat: no-repeat;
}

.image-bg-scroll {
  background: url("images/backgrounds/examples/purple-dot.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
}
