/* Main container */
.container {
  margin: auto;
  width: 80%;
  border: 3px solid #AFCBF1;
  padding: 10px;
  background: rgba(76, 175, 80, 0.1);
}

/* body {
  background-image: url("images/backgrounds/aqua-gradient.jpg")
} */

header {
  text-align: center;
  font-size: 24px;
  background: rgba(230, 144, 101, 0.3);
}

/*
h1 {
  margin-top: 36px;
}
*/
h1.heading-emphasis {
  margin-top: 85px;
  text-align: center;
  background: rgba(230, 144, 101, 0.2);
}

h2.heading-emphasis {
  text-align: center;
  background: rgba(101, 149, 230, 0.2);
}

.highlight-word {
  font-size: 22px;
  font-weight: bold;
}

/*___________________________________________________
Tables
___________________________________________________*/
table {
  width: 80%;
  margin: 0 auto;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}



/*___________________________________________________
Text Colors
___________________________________________________*/
.code-css {
  color: yellow;
}

.code-html {
  color: #ff9d39;
}

.code-keyboard-command {
  color: #d0d0d0;
}

.blue {
  color: blue;
  font-weight: bold;
}

.cyan {
  color: cyan;
}

.green {
  color: green;
  font-weight: bold;
}

.red {
  color: red;
}

.white {
  color: white;
}

.yellow {
  color: yellow;
}

.border-green {
  border: 3px solid green;
}
/*___________________________________________________
Lists
___________________________________________________*/
/*Main <ul> list on navigation pages*/
.main-nav {
  margin: auto;
  width: 40%;
  list-style-type: none;
}

/* Primary list navigation topics
This affects ALL <li> items*/
.main-nav li {
  border: 1px solid #ffa31f;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
}

/* sub-topics <ul> */
.sub-nav {
  list-style-type: none;
}

/* sub-topics <li> */
.sub-nav li{
  border: 1px solid #c85200;
}

.no-style {
  list-style: none;
}

/*___________________________________________________
Code Examples
___________________________________________________*/
/* Main container for side by side text and code examples */
.example-container {
  background: rgba(125, 115, 115, 0.15);
  /*border: 1px solid blue;*/
  position: relative;
  /*These two lines allow the .code-container child to
  inherit the height of the parent*/
  display: inline-block;
  width: 100%;
  min-height: 20px;
}

/* Text container for code examples */
.example-text {
  /*border: 1px solid green;*/
  display: inline-block;
  width: 48%;
  padding: 5px;
  float: left;
  }

.codebox {
  /*border: 1px solid white;*/
  width: 48%;
  overflow: auto;
  background: #000;
  padding: 10px 5px 10px 5px;
}

.codebox-white {
  /*border: 1px solid white;*/
  width: 48%;
  overflow: auto;
  background: #fff;
  padding: 10px 5px 10px 5px;
}

.codebox-fixed-height {
  /*border: 1px solid white;*/
  width: 48%;
  height: 50px;
  overflow: auto;
  background: #000;
  padding: 10px 5px 10px 5px;
}

/*___________________________________________________
Note boxes
___________________________________________________*/

.alert-important, .alert-note, .alert-tip, .alert-warning {
	position: relative;
  padding: 15px;
  border: 1px solid #DCDCDC;
  height: auto;
  min-height: 90px;
  display: table;
  margin: 15px 0 15px 0;
  background-color: rgba(125, 115, 115, 0.15);
}

.alert-content {
  margin-left: 80px;
  line-height: 22px;
  font-size: 95%;
  padding-left: 20px;
  border-left: 1px solid #DCDCDC;
  display: table-cell;
  vertical-align: middle;
}

.alert-content ul, .alert-content ol {
  margin-bottom: 0;
}

.alert-content li {
  padding: 0;
}

.alert-icon {
  display: table-cell;
  width: 8%;
  min-width: 75px;
  vertical-align: middle;
}



/*___________________________________________________
Examples in preformatted boxes
___________________________________________________*/
/* background transparency example */
.image-bg {
  background: url("images/backgrounds/examples/white-bg.jpg");
}

.rgba-transparency {
    background: rgba(199, 21, 133, .25);
}

/* gradient color over image */
.linear-gradient {
  height: 40px;
  background: linear-gradient(red, green);
}

.linear-gradient-3colors {
  height: 40px;
  background: linear-gradient(red, yellow, green);
}

.transparent-linear-gradient {
  height: 40px;
  background: linear-gradient(rgba(255, 0, 0, 0.35),  /*red*/
                             rgba(255, 255, 0, 0.35), /*yellow*/
                             rgba(0, 0, 255, 0.35)),  /*blue*/
url("images/backgrounds/examples/white-bg.jpg");
}

.image-bg-repeat {
  background: url("images/backgrounds/examples/purple-dot.jpg");
}

.image-bg-repeat-x {
  background: url("images/backgrounds/examples/purple-dot.jpg");
  background-repeat: repeat-x;
}

.image-bg-repeat-y {
  background: url("images/backgrounds/examples/purple-dot.jpg");
  background-repeat: repeat-y;
}

.image-bg-no-repeat {
  background: url("images/backgrounds/examples/purple-dot.jpg");
  background-repeat: no-repeat;
}

.image-bg-scroll {
  background: url("images/backgrounds/examples/purple-dot.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.image-bg-position-words {
  background: url("images/backgrounds/examples/purple-dot.jpg");
  background-repeat: no-repeat;
  background-position: top right;
}

.image-bg-position-percent {
  background: url("images/backgrounds/examples/purple-dot.jpg");
  background-repeat: no-repeat;
  background-position: 10% 10%;
}

.image-bg-position-pixels {
  background: url("images/backgrounds/examples/purple-dot.jpg");
  background-repeat: no-repeat;
  background-position: 20px 50px;
}

.image-bg-background-size-auto {
  background: url("images/backgrounds/examples/purple-dot.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

.image-bg-background-size-cover {
  background: url("images/backgrounds/examples/purple-dot.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.image-bg-background-size-contain {
  background: url("images/backgrounds/examples/purple-dot.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.image-bg-background-size-onevalue {
  background: url("images/backgrounds/examples/purple-dot.jpg");
  background-repeat: no-repeat;
  background-size: 80px;
}

.image-bg-background-size-twovalue {
  background: url("images/backgrounds/examples/purple-dot.jpg");
  background-repeat: no-repeat;
  background-size: 80px 120px;
}

.reshapeimg-per {
  width: 50px;
  border-radius: 50%;
}

.reshapeimg-px {
  width: 50px;
  border-radius: 22px;
}

.alignimg-txt {
  width: 50px;
  text-align: center;
  color: #fff;
}

.alignimg-margin {
  width: 50px;
  display: block;
  margin: 0 auto;
}

a.link-btn:link, a.link-btn:visited {
background-color: #f44336;
color: white;
padding: 14px 25px;
text-align: center;
text-decoration: none;
display: inline-block;
}

a.link-btn:hover, a.link-btn:active {
background-color: red;
}

.horz-nav-display-no-inline-block {
  background-color: green;
  text-align: center;
}
.horz-nav-display-no-inline-block a {
  border: 1px solid red;
  padding: 10px;
  background-color: yellow;
  margin-right: 5px;
}

.horz-nav-display-inline-block {
  background-color: green;
  text-align: center;
}
.horz-nav-display-inline-block a {
  border: 1px solid red;
  padding: 10px;
  display: inline-block;
  background-color: yellow;
  margin-right: 5px;
}

.horz-nav-display-center {
  background-color: green;
  text-align: center;
  font-size: 0;
}
.horz-nav-display-center a {
  border: 1px solid red;
  padding: 10px;
  display: inline-block;
  background-color: yellow;
  font-size: 16px;
}

.horz-nav-no-float {
  background-color: yellow;
}
.horz-nav-no-float a {
  background-color: red;
}

.horz-nav-float {
}
.horz-nav-float a {
  background-color: red;
  float: left;
}

.horz-nav-float-overflow {
  background-color: yellow;
  overflow: hidden;
}
.horz-nav-float-overflow a {
  background-color: red;
  float: left;
}

.horz-nav-list-float {
  list-style-type: none;
  background-color: yellow;
  overflow: hidden;
}
.horz-nav-list-float a {
  background-color: red;
  float: left;
  padding-right: 5px;
}

ul.unordered-list-a {
  list-style-type: circle;
  color: white;
}

ul.unordered-list-b {
  list-style-type: square;
  color: white;
}

ol.ordered-list-c {
  list-style-type: upper-roman;
  color: white;
}

ol.ordered-list-d {
  list-style-type: lower-alpha;
  color: white;
}

ol.custom-list-image {
  list-style-image: url('images/backgrounds/examples/purple-dot.jpg');
  color: white;
}

ol.shorthand-for-custom-image {
  list-style: circle outside url('images/backgrounds/examples/purple-dot.jpg');
  color: white;
}

.hsl-colors-p1 {
  background-color: hsl(120, 100%, 50%);
  color: #000;
} /* green */

.hsl-colors-p2 {
  background-color: hsl(120, 100%, 75%);
  color: #000;
} /* light green */

.hsl-colors-p3 {
  background-color: hsl(120, 100%, 25%);
} /* dark green */

.hsl-colors-p4 {
  background-color: hsl(120, 60%, 70%);
  color: #000;
}  /* pastel green */

.hsla-colors-p1 {
  background-color: hsl(120, 100%, 50%, 0.3);
} /* green */

.hsla-colors-p2 {
  background-color: hsl(120, 100%, 75%, 0.3);
} /* light green */

.hsla-colors-p3 {
  background-color: hsl(120, 100%, 25%, 0.3);
} /* dark green */

.hsla-colors-p4 {
  background-color: hsl(120, 60%, 70%, 0.3);
}  /* pastel green */

.text-decoration-overline {
  text-decoration: overline;
  color: #fff;
}

.text-decoration-line-through {
  text-decoration: line-through;
  color: #fff;
}

.text-decoration-underline {
  text-decoration: underline;
  color: #fff;
}

.text-decoration-none {
  text-decoration: none;
  color: #fff;
}

.text-indent-section {
  text-indent: 25px;
  color: white;
}

.letter-spacing-pixels {
  color: white;
  letter-spacing: 3px;
}

.letter-spacing-none {
  color: white;
  letter-spacing: normal;
}

.font-variant-small-caps {
  color: white;
  font-variant: small-caps;
}

.font-icon-example {
  background-color: white;
}

.line-height-large {
  color: white;
  line-height: 35px;
}

.word-spacing-small {
  color: white;
  word-spacing: -5px;
}

.word-spacing-large {
  color: white;
  word-spacing: 15px;
}

.txt-dir-right {
  color: white;
  direction: rtl;
}

.txt-dir-left {
  direction: ltr;
  color: white;
}

.txt-shadow-hor-right-red {
  font-size: 20px;
  color: white;
  text-shadow: 3px 0px red;
}

.txt-shadow-hor-left-red {
  font-size: 20px;
  color: white;
  text-shadow: -3px 0px red;
}

.txt-shadow-vert-down-red {
  font-size: 20px;
  color: white;
  text-shadow: 0px 3px red;
}

.txt-shadow-vert-up-red {
  font-size: 20px;
  color: white;
  text-shadow: 0px -3px red;
}

.txt-shadow-blur-red {
  font-size: 20px;
  color: white;
  text-shadow: 3px 3px 3px yellow;
}

.white-space-no-wrap {
  white-space: nowrap;
}

.white-space-pre {
  white-space: pre;
}

.white-space-pre-line {
  white-space: pre-line;
}

.white-space-pre-wrap {
  white-space: pre-wrap;
}
